/* Tags */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

h1 {
    font-size: 26px;
    font-weight: 600;
}

h2 {
    font-size: 17px;
    font-weight: 200;
}

footer {
    background-color: #ddd;
    width: 50%;
    height: auto;
    margin: auto;
}

/* ------------------------------ */

#header {
    display: flex;
    flex-direction: row;
    position: fixed;
}

#header-img {
    margin: 15px 0px 0px 20px;
    width: 300px;
    height: 32px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    margin: 35px 0px 0px 900px;
}

.nav-link {
    margin: 0px 0px 0px 50%;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}

#first-section {
    text-align: center;
    width: 30%;
    margin: 120px auto auto auto;
}

#form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#email {
    width: max-content;
    margin: auto;
}

#submit {
    width: max-content;
    margin: 15px auto auto auto;
    background-color: orange;
    font-weight: 800;
}

#features {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    margin: 80px auto auto auto;
}

.feature {
    display: flex;
    flex-direction: row;
}

.icons {
    margin: 30px 80px 0px 0px;
    width: auto;
    height: 60px;
}

#video {
    display: block;
    margin: 60px auto auto auto;
}

#pricing {
    display: flex;
    flex-direction: row;
    margin: 60px auto 60px auto;
    width: 50%;
}

.board {
    margin: 5px;
    width: 500px;
    height: 200px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 0px 25px 130px 25px;
    text-align: center;
}

.select {
    background-color: orange;
    font-weight: 200;
    width: 100px;
    height: 40px;
    margin: 10px auto auto auto;
}

.board-title {
    background-color: #ddd;
    font-size: 18px;
}

.board-number {
    font-size: 25px;
}

.footer-links {
    text-align: right;
    margin: 22px 30px 0px 0px;
    padding-left: auto 10px auto 10px;
}

.footer-link {
    margin: auto 20px auto auto;
    text-decoration: none;
    color: black;
}

#copyright {
    text-align: right;
    margin-right: 25px;
    color: #444;
    font-weight: 200;
    font-size: 15px;
}

@media (max-width: 450px) {
    h1 {
        font-size: 16px;
    }
    #first-section {
        width: 100%;
    }
    #submit {
        width: max-content;
    }
    #features {
        width: 80%;
    }
    .feature h2 {
        font-size: 0.8rem;
    }
    #video {
        width: 80%;
        height: auto;
    }

    #pricing {
        flex-direction: column;
        margin: 1rem auto;
        align-items: center;
        text-align: center;
        row-gap: 1rem;
    }

    .board {
        width: 30vh;
        height: 28vh;

    }

    footer {
        width: 100%;
    }
}